.gridContainer {
  margin: 60px 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 150px);
}

.gridItem {
  font-size: 30px;
  border: 1px solid gray;
  margin: 0 5px;
  border-radius: 7px;
  box-shadow: 10px 5px 5px rgb(101, 101, 101) ;
}


.gridItem:nth-of-type(2) {
  grid-column: 2 / 4;
}

@media(max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .gridItem:nth-of-type(2) {
    grid-column: 1;
  }
}